.inputPageContainer .photosContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    border: 5px solid black;
    height: 14vh;
    /* width: 95%; */
    min-width: 40%;
    margin: 0 auto;
    margin-bottom: 0;
    box-shadow: 3px 3px 6px #aaa;
}

.orderContainer .photosContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 5px solid black;
    min-width: 40%;
    margin: 1% 2.5%;
}

.inputPageContainer .photo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10vw;
    margin: 1%;
}

.orderContainer .photo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1%;
}

.photo-container img {
    width: 100%;
}

.fa-angle-up,
.fa-angle-down {
    display: flex;
    justify-content: center;
    color: #ccc;
    margin: 2px;
    width: 100%;
}

/* .fas.fa-angle-up::before,
.fas.fa-angle-down::before {
    width: 100%;
    justify-content: center;
} */

.fa-random {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input {
    font-size: 35px;
    width: 70%;
    margin: 10% 15%;
    margin-bottom: 0;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-align: center;
}

.inputPageContainer {
    height: 100vh;
    width: 100vw;
}

.inputContainer {
    height: 30vh;
}

.inputMinLength h6 {
    margin: 0;
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    color: #aaa
}

.addToCartButton {
    background: none;
    border: none;
    width: 30%;
    margin: 2% 35%;
    height: 4vh;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    box-shadow: #ddd 2px 3px 5px;
}

.randomContainer {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

.inputNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10%;
    background-color: black;
    box-shadow: 0 2px 3px #aaa;
}

.inputNavContainer i {
    color: white;
}