.userContainer {
    overflow: hidden;
    height: 100vh;
    background-image: url('../../../ThePhotoAlphabetBG.jpg');
    color: white;
}

.userOrdersContainer {
    overflow: scroll;
    height: 80vh;
}

::-webkit-scrollbar {
    display: none;
}

.userContainer .navContainer {
    height: 10vh;
    padding: 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userContainer .navContainer i {
    color: white;
}

.userPhotosContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 5px solid black;
    min-width: 40%;
    margin: 1% 10%;
    max-height: 40%;
    width: 80%;
}

.userContainer .fa-angle-down,
.userContainer .fa-angle-up {
    display: none;
}

.userOrderContainer {
    background-color: white;
    height: 35vh;
    color: black;
    font-size: 10px;
    margin: 10px;
    padding-top: 10px;
    border-radius: 5px;
    opacity: 0;
    animation: authPhotosFadeIn 1s linear forwards;
    animation-delay: 1.5s;
}

.userOrderInfoContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5%; 
    text-align: center;
}

.userOrderInfoContainer h2 {
    margin: 0;
    margin-top: 5px;
}

.userOrderBooleanContainer {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.userOrdersContainer .userOrderBoolean h3 {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.userContainer h1 {
    display: inline;
}

.userContainer button {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

.userAuth {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userOrdersContainer h3 {
    border-bottom: 1px solid white;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 0 30%;
}

.userOrderBoolean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes authPhotosFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@media (min-width: 992px) {
    .userContainer .navContainer {
        padding: 0 5%;
    }

    .userOrderContainer {
        display: flex;
        width: 80%;
        margin: 5% 10%;
    }

    .userPhotosContainer {
        width: 30%;
        padding: 10px;
        max-height: 70%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .userOrderInfoContainer {
        height: 70%;
        margin-top: 5vh;
    }

}