* {
    box-sizing: border-box;
}

svg {
    padding: 10px;
    width: 100%;
}

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../ThePhotoAlphabetBG.jpg');
    background-size: cover;
}

.home-handwriting-container {
    display: flex;
    height: 50vh;
    align-items: flex-end;
}

.home-button-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding-bottom: 0;
    animation: home-button-move-mobile 1.5s ease-out forwards;
    animation-delay: 3.2s;
}

.home-button {
    opacity: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    border-radius: 5px;
    width: 50%;
    margin: 0 25%;
    padding: 5% 0;
    animation: home-button-color 1.6s linear forwards;
    animation-delay: 3.2s;
}


.home-button-underline {
    background-color: white;
    height: 2px;
    width: 0;
    margin: 0 auto;
    animation: home-button-underline-mobile 1s linear forwards;
    animation-delay: 4.5s;
}

@keyframes home-button-move-mobile {
    100% {
        padding-bottom: 20vh;
    }
}
@keyframes home-button-move-desktop {
    100% {
        padding-bottom: 10vh;
    }
}

@keyframes home-button-color {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes home-button-underline-mobile {
    100% {
        opacity: 1;
        width: 25%;
    }
}
@keyframes home-button-underline-desktop {
    100% {
        opacity: 1;
        width: 10%;
    }
}

@media (min-width: 992px) {
    .home-button-container {
        padding: 0;
        animation: home-button-move-desktop 1.5s ease-out forwards;
        animation-delay: 3.2s
    }
    .home-handwriting-container {
        height: 60vh;
        width: 60vw;
        margin: 0 20vw;
        margin-top: 20vh;
    }
    .home-button {
        font-size: 30px;
        padding: 2% 0;
    }
    .home-button-underline {
        animation: home-button-underline-desktop 1s linear forwards;
        animation-delay: 4.5s;
    }
}