* {
    box-sizing: border-box;
}

svg {
    padding: 10px;
    width: 100%;
    color: white;
}

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.home-handwriting-container {
    display: flex;
    height: 50vh;
    align-items: flex-end;
}

.home-button-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding-bottom: 0;
    animation: home-button-move 1.5s ease-out forwards;
    animation-delay: 3.2s;
}

.home-button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 35%;
    margin: 0 32.5%;
    padding: 5% 0;
    animation: home-button-color 1.6s linear forwards;
    animation-delay: 3.2s;
}


.home-button-underline {
    background-color: black;
    height: 1px;
    width: 0;
    margin: 0 auto;
    animation: home-button-underline 1s linear forwards;
    animation-delay: 4.5s;
}

@keyframes home-button-move {
    100% {
        padding-bottom: 20vh;
    }
}

@keyframes home-button-color {
    0% {
        color: black;
        font-size: 16px;
    }
    100% {
        color: white;
        font-size: 20px;
    }
}

@keyframes home-button-underline {
    100% {
        background-color: white;
        width: 25%;
    }
}