.auth-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding-bottom: 100px;
}

.auth-container .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10%;
    background-image: url('../../ThePhotoAlphabetBG.jpg');
    box-shadow: 0 2px 5px #333;
}

.auth-container .navContainer i {
    color: white;
}

.auth-container input {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 1%;
    display: inline-block;
    margin: 1vh 22.5vw;
    width: 55vw;
    height: 8vw;
    border-radius: 5px;
    padding: 5px;
}

.authButton {
    background-image: radial-gradient(#fff, #ccc);
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: black;
    border: none;
    border-radius: 5px;
    height: 10vw;
    margin-top: 3vh;
    padding: 5px;
}

.Toastify__toast-body {
    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 24px;
}

.Toastify__progress-bar {
    background: none;
    background-color: black;
}

.registration-form, 
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) {
    .login-form, .registration-form {
        width: 50%;
        display: inline-flex;
    }

    .auth-container input {
        height: 5vh;
        width: 70%;
        margin: 1% 0;
        font-size: 30px;
    }

    .auth-container h1 {
        color: white;
        font-size: 40px;
    }

    .auth-container .navContainer {
        padding: 0 5%;
    }

    .authButton {
        height: 10%;
        width: 20%;
    }

    .authButton:hover {
        background: none;
        background-color: black;
        border: 1px solid white;
        color: white;
    }

    .auth-container input:focus {
        background-color: black;
        color: white;
        outline: none;
    }
}